{% extends "layout.html" %}
{% block content %}


<br>
<h1>{{ title }}</h1>

<div class="row">
    <div class="col-md-10">
        <h2>タッチ音を変更</h2>
    </div>
    <div class="col-md-2">
        <a href="/" class="btn btn-primary">戻る</a>
    </div>
</div>

<hr class="my-4">

<h3>タッチ音を追加</h3>

<form action='/soundsetting/upload' method="POST" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-8 mb-3">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="CustomFile" required>
                <label class="custom-file-label" for="CustomFile">Choose file (wav or mp3) ...</label>
            </div>
        </div>
        <div class="input-group col-md-4">
            <input type='submit' class="btn btn-primary mb-3" value='upload'>
        </div>
    </div>
</form>

<h3>一覧</h3>

<table class="table">
    <form action="/soundsetting/update" method="post" novalidate>
        <thead class="table-dark">
            <tr>
                <th>タイトル</th>
                <th>再生</th>
            </tr>
        </thead>
        <tbody>
            {% for sound in sounds %}
            <tr>
                <td>{{ sound['soundfile'] }}</td>
                <td>
                    <audio controls preload="metadata" src="/sounds/{{ sound }}"></audio>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </form>
</table>




{% endblock %}